:root {
    --scissorsGradient: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paperGradient: radial-gradient( hsl(230, 89%, 62%),  hsl(230, 89%, 65%));
    --rockGradient: linear-gradient(to right, hsl(349, 71%, 52%),  hsl(349, 70%, 56%));
    --lizardGradient: linear-gradient(to right, hsl(261, 73%, 60%),  hsl(261, 72%, 63%));
    --cyan: linear-gradient(to right, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);
    --backgroundGradient: radial-gradient(circle, hsl(214, 47%, 23%) 20%, hsl(237, 49%, 15%));
}
html, body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: var(--backgroundGradient);
    z-index: -1;
}
.container {
    margin-top: 3%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 24px;
    border-radius: 20px;
    border: 4px solid var(--headerOutline);
    margin-bottom: 30px;
}
.score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 120px;
    height: 80px;
}
.score-container .score-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: var(--darkText);
}
.score-container #score {
    font-size: 60px;
    font-weight: 700;
    color: var(--darkText);
}
.reset-button {
        position: fixed;
        bottom: 80px;
        right: 50px;
        width: 120px;
        padding: 8px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid var(--headerOutline);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 18px;
        color: white;
        cursor: pointer;
}
.reset-button:hover {
    background-color: hsl(214, 47%, 23%);
}
.rules-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 120px;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--headerOutline);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.rules-button:hover {
    background-color: hsl(214, 47%, 23%);
}
.game-background {
    position: absolute;
    top: 30%;
    left: -50%;
}
.icon {
    width: 40%;
}
.paper-wrap {
    position: relative;
    background-image: var(--paperGradient);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 11px 8px rgba(49,78,211,0.5), inset 0px 0px 11px 8px rgba(49,78,211,0.54); 
    box-shadow: inset 0px -6px 0px 0px rgba(49,78,211,0.54);
}
.paper-container {
    cursor: pointer;
    background-color: white;
    color: var(--darkText);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 6px 0px 0px rgb(185, 190, 210, 1);
}
.rock-wrap {
    position: relative;
    background-image: var(--rockGradient);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px -6px 0px 0px rgb(158, 21, 51); 
    box-shadow: inset 0px -6px 0px 0px rgb(158, 21, 51);
}
.rock-container {
    cursor: pointer;
    background-color: white;
    color: var(--darkText);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 6px 0px 0px rgb(185, 190, 210);
}
.scissors-wrap {
    position: relative;
    background-image: var(--scissorsGradient);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px -6px 0px 0px rgb(204, 116, 22);
    box-shadow: inset 0px -6px 0px 0px rgb(204, 116, 22);
}
.scissors-container {
    cursor: pointer;
    background-color: white;
    color: var(--darkText);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 6px 0px 0px rgb(185, 190, 210, 1);
}
.game-buttons{
    position: relative;
}
#button-1 {
    position: absolute;
    left: -85%;
    top: 5%;
}
#button-2 {
    position: relative;
    left: 50%;
    padding-top: 10px;
}
#button-3 {
    position: absolute;
    top: 103%;
    left: -17%;
}
#step-1 {
    display: none;
    margin-left: 30px;
}
.modal {
    display: none;
    border-radius: 8px;
    padding: 30px;
    position: absolute;
    z-index: 3;
    background-color: white;
    left: 35.5%;
    top: 24%;
}
.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-header .modal-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--darkText);
}
.modal-header img {
    margin-top: 5px;
}
.modal-body {
    margin-top: 30px;
}
.active-modal {
    display: inline-block !important;
}
.blurred-container {
    filter: opacity(0.2);
}
#close-modal-button {
     color: var(--headerOutline);
     cursor: pointer;
}
#close-modal-button:hover {
   color: var(--darkText);
}

#step-2 {
    display: none;
    width: 40%;
}
.choice-wrap {
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paper-wrap {
    background-image: var(--paperGradient);
    -webkit-box-shadow: inset 0px 0px 11px 8px rgba(49,78,211,0.5), inset 0px 0px 11px 8px rgba(49,78,211,0.54); 
    box-shadow: inset 0px -8px 0px 0px rgba(49,78,211,0.54);
}
.rock-wrap {
    background-image: var(--rockGradient);
    -webkit-box-shadow: 0px -6px 0px 0px rgb(158, 21, 51); 
    box-shadow: inset 0px -6px 0px 0px rgb(158, 21, 51);
}
.scissors-wrap {
    background-image: var(--scissorsGradient);
    -webkit-box-shadow: inset 0px -6px 0px 0px rgb(204, 116, 22);
    box-shadow: inset 0px -6px 0px 0px rgb(204, 116, 22);
}
.choice-container {
    background-color: white;
    color: var(--darkText);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 8px 0px 0px rgb(185, 190, 210, 1);
}
.game-choices {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.empty-choice {
    margin-top: 80px;
    border-radius: 50%;
    background-color: hsl(237, 49%, 15%, 0.3);
    width: 200px;
    height: 200px;
}
.game-sides-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
#step-3 {
    display: none;
    width: 40%;
}
#step-4 {
    display: none;
    width: 65%;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
#result {
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
#play-again {
    width: 200px;
    padding: 16px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--scoreText);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}
#play-again.lose{
    color: hsl(349, 71%, 52%);
}
.winner-wrap {
    z-index: -1;
    box-shadow: 0 0 0 200px rgba(29, 38, 71, 0.2),
    0 0 0 120px rgba(36, 45, 76, 0.5),
    0 0 0 60px rgba(41, 50, 81, 1);
}
.active-step {
    display: inline !important;
}
.modal-body #close-modal-button {
    display: none;
}
@media only screen and (max-width: 600px) {
    .header-container {
        width: 80%;
        padding: 15px;
        margin-top: 20px;
    }
    .header-container .header-text {
        font-size: 20px;
    }
    .header-container .score-container {
        width: 80px;
        height: 50px;
    }
    .header-container .score-container #score {
        font-size: 30px;
    }
    .header-container .score-container .score-title {
        font-size: 14px;
    }
    .game-background {
        left: -65%;
    }
    #button-1 {
        left: -75%;
    }
    #button-2 {
        left: 60%;
    }
    #button-3 {
        top: 126%;
        left: -6%;
    }
    .reset-button {
        left: 25px;
        right: 0;
        bottom: 20px;
    }
    #rules {
        right: 25px;
    }
    .paper-wrap {
        width: 140px;
        height: 140px;
    }
    .paper-wrap .paper-container {
        width: 100px;
        height: 100px;
    }
    .scissors-wrap {
        width: 140px;
        height: 140px;
    }
    .scissors-wrap .scissors-container {
        width: 100px;
        height: 100px;
    }
    .rock-wrap {
        width: 140px;
        height: 140px;
    }
    .rock-wrap .rock-container {
        width: 100px;
        height: 100px;
    }
    .modal {
        display: none;
        padding-top: 30%;
        padding-bottom: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 0;
        height: 76%;
        width: 84%;
        left: 0;
        top: 0;
    }
    .modal-header {
        justify-content: center;
    }
    .modal .modal-header #close-modal-button {
        display: none;
    }
    .modal #close-modal-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .active-modal {
        display: flex;
    }

  }
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 100px rgba(41, 50, 81, 0.5),
                  0 0 0 75px rgba(35, 44, 75, 0.5),
                  0 0 0 50px rgba(30, 36, 70, 0.5),
                  0 0 0 25px rgba(35, 44, 75, 0.5);
    }
    25%{
      box-shadow: 0 0 0 75px rgba(35, 44, 75, 0.5);
    }
    50%{
        box-shadow: 0 0 0 50px rgba(30, 36, 70, 0.5);
      }
    75%{
        box-shadow: 0 0 0 25px rgba(35, 44, 75, 0.5);
      }
    100% {
      box-shadow: 0 0 0 0px rgba(35, 44, 75, 0.5);
    }
  }
  